---
subcategory: ""
page_title: "Configure Multiple Partitions - Thunder Provider"
description: |-
    An example of configuring multiple partitions in one script file.
---
 
# Configure Multiple Partitions 

The provider is unable to change partition after it is created.
Use alias to create multiple Thunder provider instances for configuring multiple partitions in one script please.
 
{{ tffile "examples/guides/configure-multiple-partitions.tf" }}
