---
layout: ""
page_title: "Provider: Thunder"
description: |-
  The Thunder provider provides resources to interact with a A10 Thunder device via axAPI.
---

# Thunder Provider

The Thunder provider provides resources to interact with a A10 Thunder device via axAPI.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
